.body,html{
width: 100;
overflow: hidden ;
margin: 0px;

}

.fundo{
    background-color: rgb(98, 131, 196);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-content: space-around;

}

.cadastro
{
    background-color: snow;
    height: 35px;
    width: 223px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 50px;
    font-size: 25px;

}
.logo
{
animation: backInDown 1s;
width: 160px;
height: 160px;
animation: logo 1s; 
}
    @keyframes logo {
        from {
            transform: translateY(-110vh);
        }    
        to {
            transform: translateY(0vh);
        }
    }


.Titulo
{
    animation: titulo_cor 2s;
    animation-delay: 1s;
    color: rgb(98, 131, 196);
    animation-fill-mode: forwards;
    font-size: 45px;
    font-family: 'lovelo','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    position:absolute ;
    top: 190px;
}
    @keyframes titulo_cor {
        0% { color: rgb(98, 131, 196) }
        100% { color: black; }
    }


.po
{
    margin-top: 20vh;

}