.body,html{
width: 100;
overflow: hidden ;
margin: 0px;

}

.fundo{
    background-color: /*rgb(141, 170, 226)*/ rgb(54, 54, 54);  /* Mudança de cores para teste */
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-content: space-around;
    /* position: absolute;
    */

}

.cadastro
{
    background-color: snow;
    font-family: 'lovelo','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 35px;
    width: 190px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 60px;
    font-size: 20px;
    animation: cadastro_fadeIn 1s;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
    opacity: 0;

}
        @keyframes cadastro_fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

.logo
{
width: 160px;
height: 160px;
animation: logo 2s;
animation-fill-mode: forwards; 
z-index: 10;
}
    @keyframes logo {
        from {
            transform: translateY(-50vh);
        }    
        50% {
            transform: translateY(-4vh);
        }
        to {
            transform: translateY(-6vh);
        }
    }



.Titulo
{
    font-size: 40px;
    font-family: 'lovelo','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    position:absolute ;
    top: 155px;
    animation: titulo_fadeIn 1s;
    animation-delay: 1.65s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 10;
    color: rgb(222, 78, 1)
}
    @keyframes titulo_fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

.circulo {
    height: 500px;
    width: 500px;
    background-color: /* rgb(98, 131, 196) */ rgb(0, 0, 0);  /* Mudança de cores para teste */
    border-radius: 50%;
    position: absolute;
    top: -190px;
    left: -70px;
    animation: cir_rot 2s forwards;
}  
    @keyframes cir_rot {
        from {
            transform: translateY(-100vh) translateX(-100vh);
        }
        50% {
            transform: translateY(2vh) translateX(2vh);
        }
        to {
            transform: translateY(0vh) translateX(0vh);
        }
    }


.po
{
    margin-top: 15vh;

}